.treeview-left {
    float:left;
}
.treeview-block {
    display: block;
}
.treeview-margin {
    margin: 0 0 0 15px;
}
.treeview-file {
    margin: 0 0 0 14px;
}
.treeview-line {
    background: url(../Images/line.gif) no-repeat -3px 0;
}
.treeview-icon {
    background-color: #FFFFFF;
}